:root {
    --clr-red:  #e55c5c;
    --clr-blue: #67a5ff;
    --pos-dist: 56vw;
    --pos-hght: 1.6vw; 
}

html body {
    margin: 0px;
    padding: 0px; 
    overflow: hidden;
}

iframe {
    border: none;
    width: 100vw;
    height: 100vh;
}

h3 {
    position: fixed;
    top: 0px;
    margin-top: var(--pos-hght);
}

h3.alex {
    color: var(--clr-blue);
    right: var(--pos-dist);
    text-shadow: 0px 0px 2px var(--clr-blue);
}

h3.caleb {
    color: var(--clr-red);
    left: var(--pos-dist);
    text-shadow: 0px 0px 2px var(--clr-red);
}